.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 16px 0 16px;
    box-sizing: border-box;
}

.logo {

}

.setting {
    width: 24px;
    height: 24px;
    background-color: black;
}
